pkgbase = tclock
	pkgdesc = ncurses-based terminal clock written in C
	pkgver = 1
	pkgrel = 1
	url = https://gitlab.com/eliott.wnr/tClock
	arch = any
	license = MIT
	makedepends = git
	depends = ncurses
	depends = glibc
	noextract = tClock_b_s.png
	noextract = tClock_t_b_s.png
	source = git+https://gitlab.com/eliott.wnr/tClock.git#branch=make
	sha256sums = SKIP

pkgname = tclock
